.tiptap {
  h1,
  h2,
  h3,
  h4 {
    padding-bottom: 25px;
    border-bottom: 1px solid $gray-200;
    margin-top: 35px;
    margin-bottom: 15px;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  a {
    color: #2269c8;
  }
}
