.admin_sidebar {
  background: #001529;
  border-right: 1px solid #f0f0f0;

  .admin_sidebar_logo {
    height: 64;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 24px;
    color: white;
    font-size: 18px;
    font-weight: bold;

    .logoImg {
      width: 80%;
      height: 80%;
    }
  }

  .admin_sidebar_menu {
    border-right: 0;
  }
}
