.rightSide-container {
  width: 300px;
  flex-shrink: 0;
  position: relative;
  .article-rightSide {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 300px;
    .article-rank {
      padding: 12px 8px;
      padding-top: 0;
      .ant-card-head {
        padding: 10px 0;
      }
      .ant-space-item:last-child {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .sticky-rightSide {
    position: fixed;
    display: none;
    z-index: -1;
    top: 20px;
  }
  .top {
    visibility: visible;
    display: block;
    z-index: 5;
  }
  .rightSide-placeholder {
    height: 10000px;
    width: 100%;
  }
}
