:where(.css-dev-only-do-not-override-7t2xvq).ant-card .ant-card-body {
  padding: 16px;
}

.ant-pagination .ant-pagination-item-active {
  background-color: #6366f1;
  border-color: #6366f1;
}

.ant-pagination .ant-pagination-item-active a {
  color: white;
}
